.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 6px;
  background-color: rgba(8, 7, 6, 0.6);
}

.board-row {
  display: flex;
  flex-direction: row;
  gap: 6px;

  height: 30vw;
  width: 100%;
}
